https://data.ny.gov/Transportation/MTA-Subway-Hourly-Ridership-Beginning-February-202/wujg-7c2s/about_data

In [17]:
import polars as pl
import re

In [18]:
def add_dec_prec(row):
    latitude = row["latitude"]
    longitude = row["longitude"]
    # Assuming latitude and longitude are strings; extract the precision part
    lat_precision = len(latitude.split(".")[-1]) if "." in latitude else 0
    long_precision = len(longitude.split(".")[-1]) if "." in longitude else 0
    # Return the total precision as the sum of both
    return lat_precision + long_precision

In [19]:
def clean_column_name(name):
    return re.sub(r"[ \-&]", "_", name).replace("___", "_").replace("__","_").lower()

In [20]:
#Ridership table
columns_to_keep = ["transit_timestamp", "station_complex_id", "fare_class_category", "ridership"]
original_ridership = pl.read_parquet("data/hist.parquet", columns=columns_to_keep, low_memory=True)

ridership_wide = original_ridership.with_columns(
    [pl.col("transit_timestamp").str.strptime(pl.Datetime, format="%m/%d/%Y %I:%M:%S %p"),
     pl.col("ridership").cast(pl.Int16)]
).pivot(
    index=["transit_timestamp", "station_complex_id"],
    columns="fare_class_category",
    values="ridership",
    aggregate_function="sum",
    sort_columns=True
).sort(
    ["transit_timestamp", "station_complex_id"], descending=[False, False]
).fill_null(0)

ridership_columns = [col for col in ridership_wide.columns if "Metrocard" in col or "OMNY" in col]
ridership = ridership_wide.with_columns(
    total_ridership=pl.sum_horizontal(col for col in ridership_columns)
)

rename_mapping = {col: clean_column_name(col) for col in ridership.columns}
ridership = ridership.rename(rename_mapping)

#Since we got rid of the shuttle and TRAM lines, we filter them out here too.
ridership = ridership.filter(~pl.col("station_complex_id").str.contains("TRAM")).filter(~pl.col("station_complex_id").str.contains("141"))
ridership

shape: (7_734_974, 13)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ transit_t ┆ station_c ┆ metrocard ┆ metrocard ┆ … ┆ omny_full ┆ omny_othe ┆ omny_seni ┆ total_ri │
│ imestamp  ┆ omplex_id ┆ _fair_far ┆ _full_far ┆   ┆ _fare     ┆ r         ┆ ors_disab ┆ dership  │
│ ---       ┆ ---       ┆ e         ┆ e         ┆   ┆ ---       ┆ ---       ┆ ility     ┆ ---      │
│ datetime[ ┆ str       ┆ ---       ┆ ---       ┆   ┆ i64       ┆ i64       ┆ ---       ┆ i64      │
│ μs]       ┆           ┆ i64       ┆ i64       ┆   ┆           ┆           ┆ i64       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2022-02-0 ┆ 1         ┆ 0         ┆ 10        ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 17       │
│ 1         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2022-02-0 ┆ 10        ┆ 2         ┆ 41        ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 100      │
│ 1         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2022-02-0 ┆ 100       ┆ 0         ┆ 6         ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 10       │
│ 1         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2022-02-0 ┆ 101       ┆ 4         ┆ 13        ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 25       │
│ 1         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2022-02-0 ┆ 103       ┆ 0         ┆ 8         ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 17       │
│ 1         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ 2024-03-1 ┆ 95        ┆ 2         ┆ 6         ┆ … ┆ 17        ┆ 0         ┆ 0         ┆ 36       │
│ 6         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 23:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2024-03-1 ┆ 96        ┆ 5         ┆ 4         ┆ … ┆ 23        ┆ 0         ┆ 0         ┆ 45       │
│ 6         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 23:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2024-03-1 ┆ 97        ┆ 6         ┆ 10        ┆ … ┆ 104       ┆ 0         ┆ 0         ┆ 139      │
│ 6         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 23:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2024-03-1 ┆ 98        ┆ 1         ┆ 7         ┆ … ┆ 24        ┆ 0         ┆ 0         ┆ 51       │
│ 6         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 23:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2024-03-1 ┆ 99        ┆ 1         ┆ 4         ┆ … ┆ 18        ┆ 0         ┆ 0         ┆ 37       │
│ 6         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 23:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [66]:
#Subset of the data for the other tables in the schema
df = pl.read_parquet("data/hist.parquet", n_rows=30_000_000, low_memory=True)

In [67]:
#Stations table
stations = df.select(["station_complex_id", "station_complex", "borough", "latitude", "longitude"]).unique()

df_with_precision = stations.with_columns(
    [(pl.struct(["latitude", "longitude"]).map_batches(
        lambda batch: batch.map_elements(add_dec_prec, return_dtype=pl.Int64)
    )).alias("total_precision"),
     pl.col("latitude").cast(pl.Float64),
     pl.col("longitude").cast(pl.Float64)]
)
df_with_precision = df_with_precision.sort(['station_complex_id', 'total_precision'], descending=[False, True]).unique(subset=["station_complex_id"])

stations = df_with_precision.select(["station_complex_id", "station_complex", "borough", "latitude", "longitude"]).unique().sort("station_complex_id")

stations = stations.with_columns(
    pl.col("station_complex")
    .str.replace_all(r"\,S", "")
    .str.replace_all(r"\(110 St\)", "- 110 St")
    .str.replace_all(r"\/Botanic Garden \(S\)", "")
    .str.strip_chars()
    ).filter(~pl.col("station_complex_id").str.contains("TRAM")
    ).filter(~pl.col("station_complex").str.contains(r"\(S\)")
    ).sort("station_complex_id")
stations

shape: (425, 5)
┌────────────────────┬────────────────────────────┬───────────┬───────────┬────────────┐
│ station_complex_id ┆ station_complex            ┆ borough   ┆ latitude  ┆ longitude  │
│ ---                ┆ ---                        ┆ ---       ┆ ---       ┆ ---        │
│ str                ┆ str                        ┆ str       ┆ f64       ┆ f64        │
╞════════════════════╪════════════════════════════╪═══════════╪═══════════╪════════════╡
│ 1                  ┆ Astoria-Ditmars Blvd (N,W) ┆ Queens    ┆ 40.775036 ┆ -73.912033 │
│ 10                 ┆ 49 St (N,R,W)              ┆ Manhattan ┆ 40.759899 ┆ -73.984138 │
│ 100                ┆ Hewes St (M,J)             ┆ Brooklyn  ┆ 40.706871 ┆ -73.95343  │
│ 101                ┆ Marcy Av (M,J,Z)           ┆ Brooklyn  ┆ 40.708359 ┆ -73.957756 │
│ 103                ┆ Bowery (J,Z)               ┆ Manhattan ┆ 40.72028  ┆ -73.993912 │
│ …                  ┆ …                          ┆ …         ┆ …         ┆ …          │
│ 95                 ┆ Gates Av (J,Z)             ┆ Brooklyn  ┆ 40.689629 ┆ -73.922272 │
│ 96                 ┆ Kosciuszko St (J)          ┆ Brooklyn  ┆ 40.69334  ┆ -73.928818 │
│ 97                 ┆ Myrtle Av (M,J,Z)          ┆ Brooklyn  ┆ 40.697208 ┆ -73.935654 │
│ 98                 ┆ Flushing Av (M,J)          ┆ Brooklyn  ┆ 40.70026  ┆ -73.941124 │
│ 99                 ┆ Lorimer St (M,J)           ┆ Brooklyn  ┆ 40.703869 ┆ -73.947411 │
└────────────────────┴────────────────────────────┴───────────┴───────────┴────────────┘

:

In [104]:
#Routes table
station_list = stations["station_complex"].to_list()
regex_pattern = r"\(([^)]+)\)"

unique_train_lines = set()

for station in station_list:
    matches = re.findall(regex_pattern, station)
    if matches:
        for line in matches[0].split(','):
            unique_train_lines.add(line.strip())


routes = pl.DataFrame({
    "route_name": sorted(list(unique_train_lines))
})
routes

shape: (22, 1)
┌────────────┐
│ route_name │
│ ---        │
│ str        │
╞════════════╡
│ 1          │
│ 2          │
│ 3          │
│ 4          │
│ 5          │
│ …          │
│ N          │
│ Q          │
│ R          │
│ W          │
│ Z          │
└────────────┘

In [65]:
#Station_routes table
station_routes = stations.with_columns(
    pl.col("station_complex")
    .str.extract_all(r"\((.*?)\)")
    .map_elements(lambda groups: ','.join(groups), return_dtype=str)
    .str.replace_all(r"\(", "")
    .str.replace_all(r"\)", "")
    .str.split(",")
    .alias("route_list"))

# Step 3: Explode the list into separate rows
stations_exploded = station_routes.explode("route_list")

# Step 4: Select and rename columns to fit the SQL schema, remove duplicates
station_routes = stations_exploded.select([
    pl.col("station_complex_id"),
    pl.col("route_list").alias("route_name")
]).unique()

station_routes = station_routes.sort("station_complex_id")
station_routes

shape: (737, 2)
┌────────────────────┬────────────┐
│ station_complex_id ┆ route_name │
│ ---                ┆ ---        │
│ str                ┆ str        │
╞════════════════════╪════════════╡
│ 1                  ┆ W          │
│ 1                  ┆ N          │
│ 10                 ┆ R          │
│ 10                 ┆ N          │
│ 10                 ┆ W          │
│ …                  ┆ …          │
│ 97                 ┆ J          │
│ 98                 ┆ J          │
│ 98                 ┆ M          │
│ 99                 ┆ M          │
│ 99                 ┆ J          │
└────────────────────┴────────────┘